.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
    padding-top: 8px;
    padding-left: 20px;
}

.nav-items {
    padding-right: 20px;
}

.nav-items > ul {
    font-size: 24px;;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.res-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    height: 90%;
}

.res-card:hover {
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.search-container {
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    text-align: center;
}

.social {
    margin-right: 10px;
}

.social-icon {
    margin: 5px 5px 0px 5px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.copy-right > ul {
    display: flex;
    list-style-type: none;
}

.social > ul {
    display: flex;
    list-style-type: none;
}

.footer > .logo-container > .logo {
    width: 50px;
    padding-top: 8px;
}

.btn {
    margin: 5px;
    height: 27px;
    background-color: lightblue;
    cursor: pointer;
}

.search-bar {
    width: 25%;
    height: 20px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 350px;
    background-color: #f0f0f0;
}

.res-details {
    width: 70%;
    padding-left: 15%;
}

.res-info-card {
    display: flex;
    justify-content: space-between;
}

.res-rating {
    border: 1px solid #f0f0f0;
    height: 80%;
    margin-top: 2%;
    border-radius: 15px;
    padding: 0 5px;
    text-align: center;
}

.horizontal-line {
    border: 1px solid #f0f0f0;
}

.dotted-line {
    border: 1px dashed #f0f0f0;
}

.menu-info {
    display: flex;
    justify-content: space-between;
}

.item-image {
    margin: 5px;
}

.item-logo {
    width: 118px;
    height: 96px;
    object-fit: cover;
    border-radius: 6px;
}

.menu-card {
    min-height: 120px;
}